.cell {
    width: 40px;
    height: 40px;
    background-color: rgb(160, 160, 160);
    color: black;
    text-align: center;
    cursor:pointer;
}

.cellNavio {
    width: 40px;
    height: 40px;
    background-color: black;
    color: white;
    text-align: center;
    cursor:pointer;
}

.cellAgua {
    width: 40px;
    height: 40px;
    background-color: rgb(81, 111, 207);
    color: black;
    text-align: center;
    cursor:default;
}